\documentclass{article}
\begin{document}
\section*{{ {{ profile.name }} }}
{{ profile.email }}\\
{{ profile.phone }}
\section*{Experience}
{% for job in experience %}
\textbf{ {{ job.title }} }\\
{{ job.company }}
\begin{itemize}
{% for bullet in job.bullets %}
\item {{ bullet.text }}
{% endfor %}
\end{itemize}
{% endfor %}
\end{document}